/* Google font */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Scribble&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titan+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #e1e4eb;
    height: 100%;
    font-family: 'Inter', sans-serif;
    color: black;
}

header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

}
header a {
    text-decoration: none;
    color: inherit;
}
#logo {
    font-family: 'titan one', sans-serif;
    font-size: 180%;
    color:#df0909;
}

/* Navigation */

.navs {
    font-size: 110%;
    letter-spacing: 4px;
}

.navs > li {
    display: inline;
    list-style-type: none; 

}

.needhelp {
    font-family: 'Anton', sans-serif;
    color: #1013e6;
}

/* Main Content */
main {
    flex: 1 0 auto;
}

#life { 
    height: 750px;
    width: 100%;
    background: url("../img/life.jpg") no-repeat center center/cover;
    position: relative;
}

#introtitle {
    font-family: 'rubik scribble', sans-serif;
    color:bisque;
    font-size: 150%;
    text-align: center;
    position: absolute;
    top: 150px;
    left: 30px;
    width: 25%;
}

.effects {
    margin-top: 30px;
    margin-left: 20px;
    font-family: inherit;
}

.introtext, .tips {
    margin-left: 50px;
    width: 40%;
}

/* About Page */

#hands { 
    height: 779px;
    width: 100%;
    background: url("../img/finalhands.jpg") no-repeat center center/cover;
}

#abouttitle {
    text-align: left;
    position: absolute;
    top: 400px;
    left: 30px;
    width: 30%;
    
}

#abouttitle > h1 {
     color: rgb(116, 5, 5);
     background-color: rgba(39, 37, 37, .5);
     width: max-content;    
}

#abouttitle > p {
    color: bisque;
    background-color: rgba(8, 8, 8, 0.5);
    margin-top: 5px;
    
}


#schedule {
    text-align: left;
    position: absolute;
    top: 600px;
    left: 30px;
    width: 30%;
    background-color: rgba(235, 228, 228, 0.5)
}

/* Footer */

footer {
    background-color: gray;
}
#social-networks {
    display: flex;
    list-style-type: none;
    justify-content: center;
    gap: 30px;
}

.remember {
    font-family: 'dancing script', sans-serif;
    color: #4b0303;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

@media  screen and (max-width: 500px) {
    .needhelp{
        display: none;
    }

    #introtitle {
        width: 100%;
        left: 0;
    }

    .introtext, .tips {
        margin-left: 10px;
        width: 90%;
    }
    header {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        position: fixed;
        background-color: gray;
        z-index: 100;
    }
    
    #abouttitle {
        text-align: left;
        position: absolute;
        top: 80px;
        left: 30px;
        width: 30%;
        
    }
    #abouttitle > h1 {
         width: 160%;    
    }

    #abouttitle > p {
        color: bisque;
        background-color: rgba(8, 8, 8, 0.5);
        margin-top: 5px;
        width: 220%;
        
    }
    #schedule {
        text-align: left;
        position: absolute;
        top: 400px;
        left: 0px;
        width: 100%;
        background-color: rgba(235, 228, 228, 0.5)
    }
}

@media  screen and (min-width: 500px) {
    .effects {
        display: flex;
        /* width: 100%; */
        
    }
    .introtext {
        width: 80%;
        margin-left: 10px;
        padding: 0 50px;
    }
    .tips {
        width: 80%;
        align-self: center;
        /* margin-right: 10px; */
    }
}
